* {
box-sizing: border-box;}

body {font-family: Verdana, Geneva, sans-serif;
font-size: small;
line-height: 150%;
background-color: #FFF8DC;
padding: 10px;}

h1 {font-size: 200%;}
h2 {font-size: 150%;}
h1, h2 {color: black; font-weight: normal;}

p, li, table {color: #800000;}

span {font-weight: bold;}

a:link{color: blue; text-decoration: none;}
a:hover {color: #800000; background: #FFF8DC;}
a:focus {color: #800000;}

header {background-color: #F5DEB3; text-align: center; padding: 10px; height: 100px;}
header > h1 {float: left; font-size: 300%;}
header > a {float: right;}

footer {
color: gray;
text-align: center;
line-height: normal;
margin-top: 30px;
border-top: gray dotted 1px;
background-color: #F5DEB3;
}

div#tableContainer {
display: table; border-spacing: 10px;
}
div#row1, div#row2 {
display: table-row;
}
#text1, #text2, #photo1, #photo2 {
display: table-cell; vertical-align: top;
}

/*#googmaps {position: absolute; left: 470px;}*/

section {margin-right: 380px; background-color: #FFFFF0;}

aside {
width: 379px; 
position: fixed;
right: 0px;
margin-right: 15px; 
margin-top: 20px; 
padding-top: 20px; 
background-color: #FFFFF0;}

aside img {display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;}

nav {
margin: 100px 10px 0px 50px;
}
nav ul {
margin: 0px;
list-style-type: none;
padding: 5px 0px 5px 0px;
}
nav ul li {
padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
color: #954b4b;
border-bottom: none;
font-weight: bold;
}
nav ul li.selected {
background-color: #FFF8DC;
}

table {
border-spacing: 30px 10px;
text-align: center;
border-collapse: collapse;
width: 100%;
overflow: auto;
}
td, th {
border: thin dotted #FFF8DC;
padding: 10px;
}
th {background-color: #F5DEB3;}
tr:nth-child(2n+1) {background-color: #FFF8DC;}

#flexcontainer {
display: flex;
flex-wrap: wrap;
}

#workpros, #feedback, #photo, #procedures {
flex: 50%;
}

#contacts {
flex: 30%;
}
#googmaps {
flex: 70%;
}

@media only screen and (max-width: 940px) {
header {display: none;}
aside {margin-top: -60px; 
padding: 10px 0px 0px 0px;
background-color: #FFFFF0;}
aside img {display: none;}
aside nav {display: block; margin: 20px 0px 0px 40px; padding: 0px;}
aside nav li {display: inline;}
aside {width: 100%;}
section {margin-right: 10px}
}